<head>

</head>
<div className='footer' style="grid-area: footer;
background-color: #203040;
color:white;
display: flex;
justify-content: center;
align-items: center;
bottom:0;
height:4%;">
    © 2022 Copyright: &nbsp; Shoping Cart
  </div>