<head>
    <style>
        .header{
    grid-area: header;
    background-color: #203040;
    color:white;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0%;
    height:7%;
    font-size: x-large;
  }
  button{
    font-size:large;
  }
  .header a {
    color: white;
    text-decoration: none;
  }
  a:hover{
    color:#ff8000
  }
  
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class='header'>
    <a href="#">Shoping Cart Admin</a>
    <div style="position:absolute;right:5px;color:#ff8000">
      <button type="button" class="btn btn-outline-primary" ><a href="/admin/products" >Products List</a></button>
      <button type="button" class="btn btn-outline-primary" ><a href="/admin/ordersPage" >Orders List</a></button>
     
      <button type="button" class="btn btn-outline-primary" ><a href="/admin" >Logout</a></button>

    </div>
    
    
    

   
    
    </div>